
/* 둥근 버튼 */
.btn-circle {
    font-family: 'IBMPlexSansKR-Regular';
    border: 1px solid ;
    border-radius: 17px;
    background-color: white;
    padding: 3px 15px;
    cursor: pointer;
}

/* 사각형 버튼 */
.btn-square {
    font-family: 'IBMPlexSansKR-Regular';
    border: 1px solid ;
    border-radius: 5px;
    background-color: white;
    padding: 3px 15px;
    cursor: pointer;
}

.submit {
    border-color: #1187CF;
    color: #1187CF;
}

.modify {
    border-color: #6A6A6A;
    color: #6A6A6A;
}

.delete {
    border-color: #FF6B6B;
    color: #FF6B6B;
}

.submit:hover {
    color:white;
    background-color: #1187CF;
    transition: 0.2s;
}

.modify:hover {
    color:white;
    background-color: #6A6A6A;
    transition: 0.2s;
}

.delete:hover {
    color:white;
    background-color: #FF6B6B;
    transition: 0.2s;
}

.search-select {
    width: 300px;
    padding-left: 30px;
    border-radius: 3px;
    font-family: 'IBMPlexSansKR-Regular';
    appearance: none;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

    background-image: url(resources/select.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    background-size: 15px;
}

.search-select option[value=""][disabled] {
    display: none;
}

.table-list {
    font-family: 'IBMPlexSansKR-Regular';
    border-collapse: collapse;
    text-align: center;
}

.table-list th {
    border-top: 2px solid #6a6a6a;
    border-bottom: 2px solid #6a6a6a;
    padding: 5px 40px 5px 40px;
}

.table-list td {
    border-bottom: 1px solid #6a6a6a;
    padding: 5px 40px 5px 40px;
}

.input-date {
    font-family: 'IBMPlexSansKR-Regular';
    border-radius: 3px;
}

.input-text {
    width: 300px;
    padding: 3px 10px 3px 30px;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none; /* 사파리, 크롬 하위버전용 */
    -moz-appearance: none; /* 사파리, 크롬 하위버전용 */

    background-image: url(resources/select.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    background-size: 15px;

    border: 1px solid #6a6a6a;
}