@charset "UTF-8";

/* ==================== */
/* ===== Variable ===== */
/* ==================== */
:root {
    --color-primary: rgb(201, 227, 243);
    --color-primary-accent: rgb(17, 135, 207);
    --color-secondary: rgb(106, 106, 106);
    --color-secondary-hovered: rgb(161, 161, 161);
    --color-warning: rgb(255, 107, 107);
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	font-family: 'IBMPlexSansKR-Regular';
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	font-family: 'IBMPlexSansKR-Regular';
	display: block;
}
body {
	font-family: 'IBMPlexSansKR-Regular';
	line-height: 1;
}
ul {
	font-family: 'IBMPlexSansKR-Regular';
	list-style: none;
}
blockquote, q {
	font-family: 'IBMPlexSansKR-Regular';
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	font-family: 'IBMPlexSansKR-Regular';
	content: '';
	content: none;
}
table {
	font-family: 'IBMPlexSansKR-Regular';
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    color: var(--color-secondary);
}

a {
	color: inherit;
}

*:hover {
	transition: 0.2s;
}