@charset 'UTF-8';

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    background-image: url('../template/resources/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    right: 0px;
    width: 400px;
    height: 100%;
    
    color: white;
    background-color: rgb(26, 115, 232, 0.7)
}

section #loginBox {
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

section #loginFormTitle {
    font-size: 40px;
    font-weight: bold;
}

section #loginBox #loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section #loginBox #idAndPasswordBox {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

section #loginBox #idAndPasswordBox input {
    background: none;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
}

section #loginBox #idAndPasswordBox input:focus {
    outline: none;
}

section #loginBox #idAndPasswordBox input::placeholder {
    color: rgb(224, 224, 224);
}

section #loginBox #saveIdBox {
    display: flex;
    flex-direction: row;
}

section #loginBox #saveIdBox > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

section #loginBox #saveIdBox > div > * {
    cursor: inherit;
}

section #loginBox #saveIdBox:hover {
    color: rgb(224, 224, 224);
}

section #loginBox #submitBox input[type="submit"] {
    width: 100%;
    background-color: white;
    color: var(--color-primary-accent);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

section #loginBox #submitBox input[type="submit"]:hover {
    background-color: rgb(211, 211, 211);
    color: rgb(110, 110, 110);
}

section #loginForm #findAccountBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

section #loginForm .vertical-divider {
    width: 1px;
    background-color: white;
}

section #loginForm #findAccountBox a {
    text-decoration: none;
}

section #loginForm #findAccountBox a:hover {
    color: rgb(224, 224, 224);
}